{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-import-css",
      {
        "generateScopedName": "lib-[name]-[local]-[hash:base64:4]"
      }
    ]
  ]
}